* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
} 

#coreybarker {
    font-family: "Bebas Neue", serif;
    font-size: xx-large;
}
html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0.5rem 5rem
}

.home {
    font-family: "Oswald";
    
}
nav {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    align-items: center;
    
    padding: 1rem;
    
}

.parallax {
    background-image: url("IMG/main.JPG");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10rem;
}

article {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.me {
    width: 40%;
}
.menubar {
    border-radius: 25%;
    padding: 0 0.5rem;

    
}

.a {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    background: transparent;
    background-color: black;
}

.menubar:hover {
    opacity: 0.3;
}

section {
    display: flex;
    justify-content: center;
}

.findme {
    
    display: flex;
    justify-content: center;
    justify-content: space-between; 
    align-items: center; 
    padding: 2rem;  
    
}

.fa {
    padding: 1.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    margin-left: 1rem;
    background: #0d2636;
    color: white;
}

.fa-linkedin {
    margin-left: 1rem;
    background: #0077b7;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}