* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    height:  100%;
    padding: 0.5rem 5rem;
}

h1, h2, h3, h4 {
    font-family: "Oswald" ;
}

p {
    font-family: sans-serif;
}

.parallax {
    background-image: url("../IMG/mainblog.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main, article, section {
    height: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
nav {
    padding-right: 10rem;
    display: flex;
    position: fixed;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /* overflow: hidden; */
    top: 0;
    align-items: center;

}

.fa-bars:hover {
    opacity: 0.3;
}

.fa-bars {
    font-size: xx-large;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.menubar-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menubar-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menubar-content a:hover {background-color: #f1f1f1}

.dropdown:hover .menubar-content {
  display: block;
}

/* collapse component */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* collapse component */
.box {
    padding-top: 5rem;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
}


#blog1, #blog2, #blog3, #blog4, #blog5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;

}

.container1 {
    /* padding-bottom: 5rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container2 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading, .heading2 {
    padding: 1rem;
}

.img1, .img2, .img3, .img4, .img5 {
    padding: 2.5rem 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#links {
    /* padding-bottom: 3rem; */
    height: 2%;
}

.findme {
    display: flex;
    height: 10rem;
    justify-content: center ;
    align-items: flex-end;

}

.fa {
    padding: 1rem 1rem ;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    margin-left: 1rem;
    background: #0d2636;
    color: white;
}

.fa-linkedin {
    margin-left: 1rem;
    background: #0077b7;
    color: white;
}


footer {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


@media screen and (max-width: 800px) {
    #mobhide {
        display: none;
    }
    body {
        padding: 0.5rem 3rem;
    }
    nav {
        padding-right: 6rem;
    }
}
@media screen and (min-width: 800px) {
    .container1, .container2 {
        width: 70%;
        padding: 0 3rem;
    }
    
}

@media screen and (min-width: 800px) {
    .img1, .img2, .img3, .img4, .img5 {
        width: 50%
    }
}

@media screen and (min-width:800px){
    .blog1, .blog2, .blog3, .blog4, .blog5 {
        padding: 1rem 1rem;
        display: flex;
    }
}

@media only screen and (max-device-width: 900px) {
  .parallax {
    background-attachment: scroll;
  }
}